{
    "sources": [
    	"./proj/src/*.vhd",	
	"./proj/test/*.vhd",
        "./proj/src/**/*.vhd",
	"./proj/test/**/*.vhd",
	"./proj/src/**/**/*.vhd",
	"./proj/test/**/**/*.vhd",
	"./proj/src/**/**/**/*.vhd",
	"./proj/test/**/**/**/*.vhd",
	"./proj/src/**/**/**/**/*.vhd",
	"./proj/test/**/**/**/**/*.vhd",
	"./proj/src/**/**/**/**/**/*.vhd",
	"./proj/test/**/**/**/**/**/*.vhd",
    ]
}
