{{ define "file" }}-- <header>
-- Author(s): {{.Author}}
-- Name: {{.Name}}{{ if .Desc }}\n -- Description: {{.Desc}}{{ end }}
-- Notes: {{- range .Notes }}
--	{{.}}{{- end }}
-- </header>

{{ .Content }}

{{ end }}
